# Python-specific ignores
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Environment files
.env
*.env
env/
.venv/
venv/

# Editor and IDE files
.vscode/
.idea/
*.swp

# Operating system files
.DS_Store
Thumbs.db

# Logs and databases
*.log
*.sqlite3

# Testing and coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
*.py,cover
coverage.xml
*.pytest_cache/

# Docker
*.dockerignore
docker-compose.override.yml

# Data folder (exclude from GitHub)
data/

